@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

form {
  position: relative;
  padding: 0.5rem;
  border-radius: 25px;
  width: clamp(100px, 50%, 300px);
  box-shadow: inset -7px -4px 37px 12px rgba(34, 0, 168, 0.08);
  display: flex;
  flex-direction: column;
  align-items: start;
}

label {
  display: block;
  font-size: 2rem;
  font-weight: 200;
  margin-left: 1rem;
  text-decoration: underline;
}

input {
  line-height: 1.7;
  font-size: 1.4rem;
  outline: none;
  color: black;
  border: 1px solid #ddd;
  margin: 1rem;
}

input[type="number"] {
  border-radius: 25px;
  padding-left: 0.5rem;
  font-weight: 400;
  width: 70%;
}

.btn {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  width: 10rem;
  margin: 0 auto;
  cursor: pointer;
  color: #fff;
  border: none;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.25);
  background: conic-gradient(
    from 90deg at 50% 125%,
    #1f005c,
    #003298,
    #005ac6,
    #007fdc,
    #00a2d3,
    #00c4ae,
    #00e474,
    #00ff00,
    #1f005c,
    #003298,
    #005ac6,
    #007fdc,
    #00a2d3,
    #00c4ae,
    #00e474,
    #00ff00
  );
}

.lista-apartmana {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
  padding: 2rem;
  height: 100%;
}

.kartica-apartman {
  width: clamp(250px, 49%, 1300px);
  border-inline-start: 4px solid;
  border-block-start: 4px solid;
  border-image-source: radial-gradient(
    circle at top left,
    #000080,
    transparent 70%
  );
  border-image-slice: 1;
  padding: 0.3rem;
  gap: 0.2rem;
  align-items: start;
  display: flex;
  box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.25);
}

.apartman-slika {
  flex-basis: 40%;
}

.apartman-slika img {
  width: 100%;
}

.apartman-opis {
  flex-basis: 60%;
  font-size: clamp(1.3rem, 2vw, 4rem);
}

.apartman-opis ul {
  list-style: none;
}

.arrow {
  display: flex;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  margin-left: auto;
  width: 45px;
  border-radius: 25px;
  background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
}
